#contact input, #contact textarea{
    width: 400px;
    padding: 10px;
    border: 1px solid var(--main-black);
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    #contact input, #contact textarea{
        width: 500px;
        margin: 15px;
    }

}

@media screen and (min-width: 1200px) {
    #contact input, #contact textarea{
        width: 790px;
        margin: 5px;
    }

}